#background {
    background-color: #8cceed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input.form-control {
    max-width: 480px;
}

textarea.form-control {
    max-width: 480px;
}

#button {
    color: white;
    font-size: medium;
    background-color: #1c739c;
    font-weight: 500;
    padding: 10px 40px 10px 40px
  }

#navbar-home {
    color: #0a3a50;
    font-weight: bolder;
    cursor: pointer;
}

#navbar-link {
    color: #1c739c;
    font-weight: bold;
    cursor: pointer;
}

#navbar-link:hover {
    color: #0a3a50;
}

#title {
    font-weight: bolder;
}

#sub-title {
    font-weight: bold;
}

#show-reviews  {
    flex-wrap: wrap;
}

#show-peliculas {
    flex-wrap: wrap;
}


#button-delete {
    font-size: medium;
    font-weight: 500;
    padding: 10px 40px 10px 40px
  }
